.contact_section {
  width: 89.7%;
  color: white;
}

.contactContainer {
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 2rem;
}

.contactDetails {
  width: 50%;
  padding: 1rem;
}
.contactDetails .quoto {
  margin-top: 1rem;
}
.contactDetails p,
a {
  font-size: small;
  color: #a8a8a8;
  font-weight: 600;
}

.contactIcons {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.contactIcons .icon {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

/* .contactIcons .icon:hover i {
  background-color: white;
  color: black;
} */

.contactIcons .icon .iconHeading {
  color: white;
  font-size: 0.9rem;
}

.contactIcons .icon i {
  display: flex;
  align-items: center;
  /* background-color: #252525; */
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  transition: 0.5s;
}

.contactIcons .icon i img {
  width: 1.5rem;
}
.ContactForm {
  width: 50%;
  padding: 1rem;
}

.ContactForm form {
  width: 100%;
  padding: 1rem;
  background-color: #252525;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.ContactForm form .inputSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.ContactForm form .inputSection input {
  width: 48%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: #505050;
  color: white;
  border: 0.1rem solid #505050;
  transition: 0.5s;
}

.ContactForm form .inputSection input:focus {
  border-color: white;
}

.ContactForm form textarea:focus {
  border-color: white;
}

.ContactForm form .inputSection input::placeholder {
  color: #8d8d8d;
}

.ContactForm form textarea::placeholder {
  color: #8d8d8d;
}

.ContactForm form textarea {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.7rem;
  min-height: 7rem;
  background-color: #505050;
  color: white;
  border: 0.1rem solid #505050;
  transition: 0.5s;
}

.ContactForm form button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  padding: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.ContactForm form button i {
  display: flex;
  align-items: center;
  font-size: medium;
}

@media screen and (max-width: 512px) {
  .contact_section {
    width: 100%;
    color: white;
  }

  .contactContainer {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .contactDetails {
    width: 100%;
    padding: 1rem;
  }

  .ContactForm {
    width: 100%;
    padding: 1rem;
  }
  .ContactForm form .inputSection input {
    width: 100%;
  }

  .contactIcons .icon {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
}
